<div class="c-symbol-search">
  <div class="c-symbol-search__field">
    <label class="c-symbol-search__label" for="name">Ticker Symbol</label>
    <input [value]="value" #searchInput  id="name" class="c-symbol-search__input" placeholder="ex. AAPL">
  </div>
  <div *ngIf="assisting" class="c-symbol-search__results">
      <div *ngIf="searching" class="c-symbol-search__status"><div class="c-banner">Searching...</div></div>
      <ul *ngIf="results?.length" class="c-symbol-search__items">
          <li *ngFor="let stock of results" class="c-symbol-search__item" (click)="onSelectHint(stock)">{{stock.symbol}} - {{stock.name}}</li>
      </ul>
      <div *ngIf="!searching && !results?.length" class="c-symbol-search__status"><div class="c-banner">No results</div></div>
  </div>
</div>