<div class="t-fixed">
  <header class="c-header t-fixed__header">
    <div class="c-header__label"><span class="o-brand">Stock Advisor</span></div>
  </header>
  <main class="t-fixed__content">
    <div class="l-zoom-reveal" [class.is-revealed]="!!stock">
      <section class="c-section h-center">
        <app-stock-search></app-stock-search>
      </section>
      <section class="c-section">
        <div class="c-card">
            <header class="c-card__header">
                <app-stock-header [stock]="stock"></app-stock-header>
            </header>
            <div class="c-card__content">
                <app-stock-report [stock]="stock"></app-stock-report>
            </div>
        </div>
      </section>
    </div>
  </main>
</div>